<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/Script.js"></script>
    <script src="/Scripts/Filters.js"></script>
    <link href="/Styles/Styles.css" rel="stylesheet"/>
    <script src="../Scripts/stringService.js"></script>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
<div ng-controller="myController">
    <table>
        <tr>
            <td>Your String</td>
            <td> <input type="text" ng-model="input"/></td>
        </tr>
        <tr>
            <td>Result</td>
            <td> <input type="text" ng-model="output"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value="Process String" ng-click="transformString(input)"/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
